<template name="layout">
  {{#ionBody}}
    {{> ionNavBar class="bar-positive"}}

    {{#ionNavView}}
        {{> yield}}
    {{/ionNavView}}

    {{> meteorStatus lang=langChoix}}
  {{/ionBody}}
</template>



<template name="signOut">

</template>

<template name="myLogin">
{{#ionView view-title="Login" hide-nav-bar="true"}}
  {{#ionContent class="rubyonic-pane login-screen"}}

  	<div class="logo">
      <img src="/oopscat.png"/>
    </div>

  	<div class="login-form">
      	<div class="padding form-rb-plain">
        {{> atForm}}
        </div>
	</div>

  {{/ionContent}}


{{/ionView}}

</template>
