<template name="layout">
  {{#ionBody}}
    {{> ionNavBar class="bar-positive"}}

    {{#ionNavView}}
        {{> yield}}
    {{/ionNavView}}

    {{> meteorStatus lang='fr'}}
  {{/ionBody}}
</template>



<template name="signOut">

</template>

<template name="myLogin">
{{#ionView view-title="Login" hide-nav-bar="true"}}
  {{#ionContent class="rubyonic-pane login-screen"}}

  	<!-- Logo Section - center aligned by default -->
  	<div class="logo">

	</div>
	<!-- End Logo Section -->

	<!-- A description section. Useful for a short pitch -->
  	<!-- <h4 class="description">A high-status theme pack for your next Ionic Project</h4> -->
  	<!-- End description -->

  	<!-- Login Form - note the modifier 'is-transparent' is for the form to be see through -->
  	<div class="login-form is-transparent">
      	<div class="padding form-rb-plain">
        {{> atForm}}
        </div>
	</div>
	<!-- End Login Form-->

  {{/ionContent}}


{{/ionView}}

</template>
