<template name="home">
  {{#ionView}}
    {{#ionContent class="rubyonic-pane login-screen"}}
    {{#if gameStart}}
      {{> game }}
        {{else}}
        {{#ionList}}
        {{#ionItem buttonRight=true}}
         <button class="joinGame">{{_ "Join Game"}}</button>
 {{/ionItem}}
         {{/ionList}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="game">
  <div class="heading">
    <div class="player">
      {{#with game}}
      {{> avatar userId=game.players.[0]._id size='small' shape='rounded' class='avatar'}}
      <div class="playerScore">
        <span class="score">{{game.players.[0].score}}</span>
      </div>
        {{/with}}
    </div>
    <div class="timer">
      <span class="counter">1'00</span>
    </div>
    <div class="player">
            {{#with game}}
      {{> avatar userId=game.players.[1]._id size='small' shape='rounded' class='avatar'}}
      <div class="playerScore">
        <span class="score">{{game.players.[1].score}}</span>
      </div>
            {{/with}}
    </div>
  </div>

  <div class="bullets">
    {{#each key_value game.bullets}}
    <div class="bullet value{{value}}" data-position="{{key}}"></div>
    {{/each}}
  </div>
</template>
