<template name="home">
  {{#contentFor "headerButtonLeft"}}
  {{#if currentUser}}
  <a class="button button-icon icon ion-log-out" href="{{pathFor route='signOut'}}"></a>
  {{/if}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Oopscat</h1>
{{/contentFor}}

  {{#ionView}}
    {{#ionContent class="rubyonic-pane login-screen"}}
    {{#if currentGame}}
      {{> game }}
        {{else}}
        {{#ionList}}
 <button class="joinGame button button-block button-balanced">
  {{_ "Join Game"}}
</button>
         {{/ionList}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="game">
  {{#with game}}
    <div class="heading">
      <div class="player">
        {{> avatar userId=game.players.[0].userId size='small' shape='rounded' class='avatar'}}
        <span class="username">{{username game.players.[0].userId}}</span> (<span class="rank">{{rank game.players.[0].userId}}</span>)
        <div class="playerScore">
          <span class="score">{{game.players.[0].score}}</span>
        </div>
      </div>
      <div class="timer">
        <span class="counter">{{timer}}</span>
      </div>
      <div class="player">
          {{> avatar userId=game.players.[1].userId size='small' shape='rounded' class='avatar'}}
          <span class="username">{{username game.players.[1].userId}}</span> (<span class="rank">{{rank game.players.[1].userId}}</span>)
          <div class="playerScore">
            <span class="score">{{game.players.[1].score}}</span>
          </div>
      </div>
    </div>

    {{#if gameInProgress game}}
      <div class="bullets">
        {{#each key_value game.bullets}}
          <div class="bullet value{{value}}" data-position="{{key}}"></div>
        {{/each}}
      </div>
    {{else}}
      {{#if game.endedAt}}
        <p class="">Game over</p>
        <button class="replay">I wanna kick some cat's ass, pleaaase!</button>
      {{else}}
        <p>Please be patient, you will be able to kick some cat's butt as soon as possible. You can <a href="#">share this page</a> to invite other cat haters</p>
      {{/if}}
    {{/if}}
  {{/with}}
</template>
